h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: clamp(28px, 5vw, 50px);
    margin-top: 20px;
}

body {
    background: linear-gradient(to top, #ffffff, #ffffff);
    margin: 0;
    overflow-x: hidden;
}

.logo {
    display: block;
    margin: 10px auto 0;
    max-width: 90%;
    height: auto;
    border-radius: 25px;
}

h2, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: white;
}

h2 { font-size: clamp(20px, 4vw, 35px); }
h3, p { font-size: clamp(16px, 3vw, 25px); }

p {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}

.discord,
.tiktok,
.instagram {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: clamp(18px, 3vw, 35px);
    text-decoration: none;
    border-radius: 25px;
    border: 3px solid;
    padding: 10px;
    display: inline-block;
    width: min(325px, 80%);
    transition: all 0.3s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.discord { color: #0072ec; border-color: #0072ec; }
.tiktok { color: #0f0f0f; border-color: #0f0f0f; }
.instagram { color: #ff49b0; border-color: #ff49b0; }

.discord:hover { background-color: #0072ec; color: white; scale: 1.05;}
.tiktok:hover { background-color: #0f0f0f; color: white; scale: 1.05;}
.instagram:hover { background-color: #ff49b0; color: white; scale: 1.05;}

.discord:active,
.tiktok:active,
.instagram:active {
    transform: scale(0.95);
}

@media (max-width: 500px) {
    .logo { border-radius: 15px; }
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 20px;
    padding: 10px;
    color: #b9b9b9;
    background-color: #090a1f;
    height: auto;
}

.about, .projects, .updates, .team {
    max-width: 95%;
    margin: 20px auto;
    padding: 10px 15px 50px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    outline: auto 10px rgba(0, 0, 0, 0.25);
}

.about { background-color: #5bb0ff; }
.projects { background-color: #ff5858; }
.updates { background-color: #ff9853; }
.team { background-color: #4dff47; }

.footerdc, .footertt, .footerig {
    text-decoration: none;
    transition: color 0.3s ease, scale 0.3s ease;
}

.footerdc { color: #0072ec; }
.footertt { color: #9316c5; }
.footerig { color: #ff49b0; }

.footerdc:hover,
.footertt:hover,
.footerig:hover {
    color: white;
}

.navbar {
    background-color: #c9c9c9;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}